sudo: false
language: scala
scala:
  - 2.12.8
jdk:
  - oraclejdk11

before_install:
  - git fetch --tags

stages:
  - name: test
  - name: release
    if: "((branch = master AND type = push) OR (tag IS present)) AND NOT fork"

jobs:
  include:
    - stage: test
      script: sbt test
    - stage: release
      script: sbt ci-release

cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt"
before_cache:
- find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
- find $HOME/.sbt        -name "*.lock"               -print -delete

env:
  global:
  - secure: lb/aWLvy/JSskuMYluPIRUtGt0hbTMlUy9VAR45RuXWkxDUEg8Ou3hwCWLXSG6Aqrp9uNJuB8ekOIZTKECEdrrX/Bcu4FOH9xVNJDMEIU5IUEada2GMWRTziVnCVuZv4aBi3R8YogY1jkMoYCwuXN5DRKzW/CaS2nqI/mAlydaEEgQ1p3w1lB2OcU1AnjDOJ6LFX51mxObWvnT4RlM9TngjyQ050jKtMhXPwBV/xUDY3o7G0i+sEleMcbwxqfOyRMKIY6CSFkET7ChJfFoz0rob02HilbWJ8EQOT2z6JqHmdGAdYuypQfkqIA/m2mrR0BgPk37/NrdeslzSVHaNdn1h5OG7YX9kSYZ/p74x8a4zrvEo7i9uXJaN81Hbcu+mGDaI15e2ZCWALvaXAZOGVdg+Yrjp3JDwnrVksoeBJkskBHjTR3XhaGhLVhqV9gWMn7NoiuLl0MJqR3da5RJbW/vAyWbS4ejp02HqIqrnpp0DFC+O9fqVYUUvarTVjQZ8FVKamdG2OR/PkwI3cnz5sofxzaSURrlAqsDUXcKs1H6QbQV7FGwIRv1Lj+7r5j8be6qFcaChGcSXnpHHFYT4X5Xnn+lqljEXUZ7FTC/Zf/Rde1nr4vF0aXNKwN2rFrROcXcjqEcPLwm8ss2vnbNJpCIt8ymsL6t6q9PPNn8W452Y=
  - secure: pAH/dOzjj8fiAZDj+Pl5fueykFeBwrMC05kC3U2r4NDKS1mqvN4mEldNmbp2pePEYpiJ0q+vGEngfUQDNjTFphQPBV2j/yFXtE8OWDN29pNyZPobMRrc3mrMKTpZGL4sBVX8gP6z6MS1Df0T1A4NGbOrhJ54xt+oMf6RmqbQIszVYpb5CsLIyqQyyoOYCPSlkcXkaehNsmHQtvIteHMdfDqXLMmaiIbuABAgwq+8re9lLebq7oK08t5sNTIhOT/IL4CbR9QliHowF5A19itXXfKLrkM+dGkKN3GBT7fxUPQN0/7ni/bpMtYTrHoPMtXurYxYnEPTi4JHmZD58vS4DHd/MW1FTjkyO7aZIQ2TekI3xAHxW8TOjds7opDMRUEYJ0ej8bENP+88NPkwxr6DxGfmR1e0tYw4tYVQkbd8EcWKJUNa44W9lyloqAUqG+cFSLx6hmqoi9NrI/3sE9NO+4u/3X0RB5oN3xfa0ziU6Yhq3wpNg0V54xjCqZy13pCHBpPVZcT/4/862vky5A5/2spKJBewihJM5yRRoEA5/wMO65Dqwbix9XTnm1MW460mdOUoA3bPupZOhjVhIbnIJFt8YXwdgwaK0+kQ1y17kUeqVUIflkXA9mG8NjPJkZixR2M8IXMC0O8uqwsK0q+KMvjSDG/qZikfIPQngqK/ALQ=
  - secure: Ka/XYOtcBJ+XN09EnIuLkMNXpTgQmL0B2aXXWqGuZxLpyuRhUuGO5KgQ/enuamegNZRH1BJrELq2nKUC3Z1A0vpy+rlnUBg5Ac6p5hYouOJMdjq76e6DkdXl7frp0dvyzMxgZ+thOijRNn8c69czhM121oC4mAeS1BiKNmXnIxay3i82hAO4/bsO1shRgYo7uKeDeHEmtulZxc3NXqVh9qNotiksNd/F/Fb4rxKLa4MnViOjvp4zRbE/TXGA3Ln2LfS9jwEYlOUE+1G9ThncpcTkmdVutAIz6TrZs9GLEap44BHl++V9vKmaPqKpA37u8F+ctZmd94xdACy1ur+KYZvcGXhTWryeiT+P5q+Nc672CkMAfkoNSCeJpbjhpFcTa7w0uTohZe8Gmr+cnoxLsBn7akc46FqXmdSf7k0Gy9ZkHvdNxVrHwspgJBtQY7mNKRr3akRyh2nHNFJulZlEZIWTb3Oqf3MYmPkRBQKdHCjdM25rh9TY8VxFFAsJ90g+UTttTW9sQJeNzAY7V08m9Nw5w4zN/NrGqOTJAvey0NpuMoqUYUGwmZ+zFZip8vUkxfAIgYpPlNUDhhZqT+IYpZ82LIIbx4gyAIFkt9gp5AZ5p9nkuerCqH4HQgRY5+86daSqW9pXD0mQ+/QJX7yi7AvXXN28PFHcSl3jdIVroXM=
